@model IEnumerable<PostViewModel>

<div class="mb-4">
    <div id="post-list">
        @foreach (var post in Model)
        {
            <vc:post-simple post-view-model="post" />
        }
    </div>
</div>