<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand position-relative top-0 start-50" asp-controller="Post" asp-action="Index">WikY</a>
    </div>
</nav>