@model CommentViewModel
@{
    ViewData["Title"] = "Editer un commentaire";
}

<h1>Editer un commentaire</h1>
<vc:comment-form comment-view-model="@Model" controller="Comment" action="Edit" post-id="@ViewBag.PostId"/>