@model PostViewModel

<label asp-for="Topic">Thème</label>
<input asp-for="Topic" />
<label asp-for="Author">Auteur</label>
<input asp-for="Author" />
<label asp-for="Content">Contenu</label>
<input asp-for="Content" />
<input type="submit" />