@model IEnumerable<CommentViewModel>

<div class="container" id="comment-list">
    @foreach (var comment in Model)
    {
        <vc:comment-full comment-view-model="comment" />
        <hr />
    }
</div>