@model IEnumerable<CommentViewModel>

<div class="container wiky-comment-list" id="comment-list">
    @foreach (var comment in Model)
    {
        <vc:comment-full comment-view-model="comment" />
    }
</div>