<div class="card mb-4">
    <div class="card-body d-flex justify-content-between">
        <a class="btn btn-primary" asp-controller="Post" asp-action="Add">Ajouter un article</a>
        <form class="d-flex col-6" role="search">
            <input class="form-control me-2" type="search" placeholder="Saisir un nom d'Auteur, un Thème...'">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
    </div>
</div>

