@model PostViewModel

<div class="card mb-4">
    <form asp-controller="@ViewBag.Controller" asp-action="@ViewBag.Action">
        <div class="card-header mb-4 d-flex justify-content-between">
            <div class="mb-3 form-floating col-5">
                <input asp-for="Topic" class="form-control" />
                <label asp-for="Topic">Thème</label>
            </div>
            <div class="mb-3 form-floating col-5">
                <input asp-for="Author" class="form-control" />
                <label asp-for="Author">Auteur</label>
            </div>
        </div>
        <div class="card-body">
            <div class="mb-3 form-floating">
                <textarea asp-for="Content" class="form-control" style="height:300px;"></textarea>
                <label asp-for="Content">Contenu</label>
            </div>
            <div class="d-flex">
                @if (ViewBag.Action == "Add")
                {
                    <input class="btn btn-primary me-4" type="submit" value="Ajouter" />
                }
                else
                {
                    <input class="btn btn-primary" type="submit" value="Modifier" />
                }
            </div>
        </div>
    </form>
</div>